trigger:
- main

variables:
  dockerRegistryServiceConnection: '173e65ea-dbc2-4ffd-99fa-a405e0e920a5'
  imageRepository: 'rudradocker'
  containerRegistry: 'ubuntuacr.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: Build
    pool:
      name: 'Default'
      demands: [ Agent.Name -equals PREM-Ubuntu ]
    steps:
    - task: Docker@2
      displayName: Build and Push to ACR
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest

- stage: Deploy
  displayName: Deploy to Azure Web App
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: Deploy
    pool:
      name: 'Default'
    steps:
    - task: AzureWebAppContainer@1
      displayName: 'Update Web App Image'
      inputs:
        azureSubscription: 'docker-ARM' # Use your new ARM connection name
        appName: 'rudra-webapp-2025' # Use your actual Web App name
        containers: '$(containerRegistry)/$(imageRepository):$(tag)'